* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 75px 60px auto 60px;
    max-width: 100vw;
    min-height: 100vh;
}



header,
nav,
main,
footer,
.main_2,
.author_img,
.author_name,
.wikipedia {
    border: 1px solid black;
}

.main_2 {
    margin: 0 auto;
    width: 90%;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;

    gap: 20px;
}


.list_item {

    display: grid;
    grid-template-columns: 16fr 4fr;
    grid-template-rows: 16fr 4fr;
    width: 100%;
    height: 100%;
}

.author_img {
    grid-column: 1/3;
}
.author_img img{
    width: 100%;
    height: 100%;
}

.author_name {}

.wikipedia {}

.wikipedia img{
    width: 100%;
    height: 100%;
}



@media (max-width: 1080px) {
    .main_2 {
        grid-template-columns: auto auto auto;
    }
}