* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #efebce;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back_home {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 40hv;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
}

.site_logo img {
    width: 6vw;
    height: auto;
}

.site_name h1 {
    font-size: 2rem;
    width: 10rem;
    text-align: center;

}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;


}

.background_image {
    border: 1px solid black;
    width: 40%;
    max-width: 620px;
    height: 620px;
    background-image: url(../image/Logolar/Book\ Login\ 2.avif);
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.back_login_img img_{
    width: 100%;
    height: auto;
}

.login_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    min-width: 280px;
    max-width: 400px;
    height: 450px;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding: 3%;
}


.login_menu input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;

}

.login_menu input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.login_menu button {
    width: 100%;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.login_menu button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.login_menu input,
.login_menu button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
}

.in_or_up {
    text-decoration: none;
    color: #4CAF50;
    ;

}

.in_or_up:hover {
    text-decoration: underline;
    color: #45a049;

}

@media (max-width: 1024px) {
    .site_name h1 {
        font-size: 1.8rem;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .site_name h1 {
        font-size: 1.5rem;
        width: 70%;
    }

    main {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .background_image {

        display: none;
    }

    .login_menu {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .site_name h1 {
        font-size: 1.2rem;
        width: 80%;
    }
}